# Logs and caches
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.eslintcache
.eslintcache*


# Dependency and lock files
node_modules
dist
dist-ssr
*.local
yarn.lock
pnpm-lock.yaml

# Build output
dist/
build/

# Coverage directory
coverage/

# Environment variables
.env*
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/*
# !.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
.tmp/
tmp/
