{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --fix --cache"],
  "*.{json,md}": ["prettier --write"],
  "*.{css,scss}": ["stylelint --fix --cache", "prettier --write"],
  "*.{yaml,yml,toml}": ["prettier --write"]
}
